<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">register</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-title>Registro</ion-title>
  <br>
  <ion-content>
    <ion-item line="full">
      <ion-input placeholder="John Doe">
        Nombre:
      </ion-input>    
    </ion-item>

  </ion-content>
</ion-content>
